/*************************************** 顶部背景图的css样式 ***************************************/
.bg-light{
    background-color:#fff !important;
    padding:0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0px 15px #ccc;
    width:100%;
    opacity: 0.95;
}

a {
    color: black;
}



/* 切换用的背景图样式 */
.navbar-outline-border-1 {
    height: 600px !important;
    background: url(../../static/img/index/up-1.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-2 {
    height: 600px !important;
    background: url(../../static/img/index/up-2.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-3 {
    height: 600px !important;
    background: url(../../static/img/index/up-3.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-4 {
    height: 600px !important;
    background: url(../../static/img/index/up-4.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-5 {
    height: 600px !important;
    background: url(../../static/img/index/up-5.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-6 {
    height: 600px !important;
    background: url(../../static/img/index/up-6.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-7 {
    height: 600px !important;
    background: url(../../static/img/index/up-7.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-8 {
    height: 600px !important;
    background: url(../../static/img/index/up-8.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-9 {
    height: 600px !important;
    background: url(../../static/img/index/up-9.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}
.navbar-outline-border-10 {
    height: 600px !important;
    background: url(../../static/img/index/up-10.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    opacity:0.4;
    position: absolute;
    width: 100%;
    margin-top: -60px;
}

/* ! 切换用的背景图样式 */




.slides-index-mask {
    width: 100%;
    height: 600px !important;
    background-color:#222;
    /* filter:Alpha(Opacity=60); */
}



/* 电影列表框样式 */
/* 背景框样式： */
.slides-index-list {
    position: absolute;
    margin-left: 70%;
    margin-top: 50px;
    width: 280px;
    height: 420px;
    background: #6e6e6e;
    opacity: 0.6;
    border-radius: 5px;
}
/* 内容样式： */
.slide-lists-box {
    position: absolute;
    margin-left: 70%;
    margin-top: 50px;
    width: 280px;
    height: 420px;
    border-radius: 5px;
}
.slide-lists {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}
.list-title {
    color: white;
    width: 85%;
    font-weight: 600;
    font-size: 25px;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 3px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}
.list-title:hover {
    cursor: default;
}
.list-small {
    /* display: flex; */
    position: relative;
    color: #ccc;
    width: 85%;
    padding-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}
.slide-lists a span {
    font-size: 12px;
    margin-left: 8px;
}
.slide-lists a:hover {
    color: #17a2b8;
    text-decoration: none;
    /* transition: all 0.1s; */
}

.list-big {
    /* display: block; */
    color: #17a2b8;
    font-size: 20px;
}
.slide-lists .span-hidden span {
    display: none;
}

/* ! 电影列表框样式 */

/*************************************** ! 顶部背景图的css样式 ***************************************/

/*************************************** 电影推荐部分的css样式 ***************************************/
.movie-recommend {
    background-color: white;
    padding-bottom: 20px;
}

.movie {
    margin-top: 50px;
    width: 100%;
}
.movie-title {
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.movie-bigBox {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
