body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0 auto !important;
}
.login-bg-1 {
    background: url("../../static/img/login/login-bg-1.jpg")no-repeat center;
    background-position: center;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* transform: scale(1.4); */
}
.login-bg-2 {
    background: url("../../static/img/login/login-bg-2.jpg")no-repeat center;
    background-position: center;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* transform: scale(1.4); */
}
.login-bg-3 {
    background: url("../../static/img/login/login-bg-3.jpg")no-repeat center;
    background-position: center;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* transform: scale(1.4); */
}

.div_container_top{
    width:100%;
}

.div_container_top_center{
    width:310px;
    height:150px;
    margin:0 auto;
}

.div_logo{
    width:110px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.div_word{
    color:#666;
    margin:0 auto;
    text-align: center;
}
.div_word:hover {
    cursor: default;
}
.div_word p {
    margin:0;
    font-size: 18px;
    font-weight: 600;
}

.div_container_main{
    width:100%;
}

.div_container_main_center{
    width:310px;
    margin:20vh auto;
    background:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 20px 20px 35px 20px;
    box-shadow: 0px 0px 1px rgba(27,31,35,0.2);
}


/* 表单样式 */
.form-field{
    margin-top:20px;
}


/* 输入框样式 */
.input-field{
    border:solid 0.8px #eee;
    /* box-shadow: inset 0px 0px 1px 1px rgba(27,31,35,0.075); */
    padding:7px 10px 7px 10px;
    border-radius: 3px;
    color:#999;
    background: rgb(255, 255, 255);
}
.input-field:hover{
    box-shadow: inset 0px 0px 1px rgba(27,31,35,0.1);
}
.input-field i{
    font-size: 14px;
    cursor: pointer;
}
.input-field i:hover{
    color:rgb(91, 158,  235);
}
.input-field input{
    background-color: inherit;
    color:#999;
    font-size: 14px;
    width:90%;
    border:none;
}
.input-field input:focus{
    outline: none;
}
.input-up{
    border-bottom:none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.input-down{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* 其他链接 */
.other-links{
    margin-top:10px;
    padding:0 10px 0 10px;
    overflow: auto;
}
.other-links div{
    color: #999;
    font-size: 11px;
}
.other-links div a{
    color:#999;
    text-decoration: none;
}
.other-links div a:hover{
    color:rgb(91, 158,  235);
}
.register-link{
    float: left;
}
.forget-password-link{
    float: right;
}

/*按钮样式*/
.submit-btn{
    background: rgb(91, 158,  235);
    border-radius: 5px;
    padding:8px;
}
.submit-btn:hover{
    background-color:rgba(91,158,235, 0.8);
}
.submit-btn p{
    font-size: 14px;
    text-align: center;
    color:#fff;
    margin:0;
    cursor: pointer;
    letter-spacing: 5px;
}
